
@model Newser.Models.CommentsWithUser

@foreach (var item in Model.Comments)
{
    <hr />
    <div class="blog-comment">
        <div class="blog-comment-meta">
            @Html.DisplayFor(modelItem => item.CreateDate)
            <text> by </text>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </div>
        <div class="blog-comment-content">
            @Html.Raw(item.Body)
        </div>
        @if (User.IsInRole("admin") || Model.User == item.User)
        {
            <div class="blog-comment-edit">
                @Html.ActionLink("Edit", "Edit", "Comments", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Comments", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.Id }, null)
            </div> }
    </div>
}